.center {
    text-align: center;
}

.modal-dialog {
    padding-top: 15%;
}

#canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}
.ui-dialog-titlebar-close{
    display: none;
}

.close{
    display: none;
}