.center {
    text-align: center;
}

.modal-dialog {
    padding-top: 15%;
}

#canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}

#howToPlayButton {
    float: left;
}
